.footer{
    border-top: solid thin green;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: #222222;
    color: white;
}

.footer div div ul {
    padding: 10px;
}

#unicam-logo {
     height:100px;
     width: auto;
     float: left;
     padding-top: 10px;
}