<div class="w3-row-padding w3-margin-bottom w3-margin-top">
    <form class="w3-container w3-round w3-card-4 w3-white w3-margin">
        <div class="w3-row w3-section">
                <div class="w3-col login-icon"><i class="w3-xxlarge fa fa-sitemap"></i></div>
                <div class="w3-rest">
                    <input ng-model="company" class="w3-input w3-border" name="azienda" type="text" placeholder="Azienda">
                </div>
            </div>

            <div class="w3-row w3-section">
                <div class="w3-col login-icon"><i class="w3-xxlarge fa fa-pencil"></i></div>
                <div class="w3-rest">
                   <textarea ng-model="description" class="w3-input w3-border" placeholder="Descrizione"></textarea>
                </div>
            </div>
        <button ng-click="createStage()" class="w3-margin-top w3-margin-bottom w3-button w3-block w3-teal"> <i class="fa fa-cog"></i> Aggiungi stage</button>
    </form>
    
</div>

<div class="w3-row-padding w3-margin-bottom w3-margin-top">
    <div class="w3-container w3-round w3-card-4 w3-white w3-margin">
        <h1 class="w3-center">I tuoi stage : </h1>

        <hr />

        <div ng-repeat="stage in stages" class="w3-container w3-round w3-card-4 w3-lime w3-margin" >
            <h1 class="w3-xxlarge"><i class="fa fa-building"></i>  {{stage.company}} </h1>
            <p class="w3-small"> <b>Descrizione</b> : {{stage.description}} </p>
            <p class="w3-tiny"> ID: {{stage._id}} </p>
            <hr />
        </div>
    </div>

    
    

    <div>
</div>