<div class="w3-row-padding w3-margin-bottom w3-margin-top">
        <form class="w3-container w3-round w3-card-4 w3-white w3-margin">
            <div class="w3-row w3-section">
                    <div class="w3-row w3-section">
                            <div class="w3-col login-icon"><i class="w3-xxlarge fa fa-file-text"></i><b>Corso</b></div>
                            <div class="w3-rest">
                                <select class="w3-select" name="option">
                                        <option value="" disabled selected>Corso</option>
                                        <option value="1">Test</option>
                                        
                                </select>
                            </div>
                    </div>
            </div>

            <div class="w3-row w3-section">
                    <div class="w3-row w3-section">
                            <div class="w3-col login-icon"><i class="w3-xxlarge fa fa-calendar"></i><b>Data</b></div>
                            <div class="w3-rest">
                                <div class="w3-third ">
                                    <select class="w3-select " name="day">
                                            <option value="" disabled selected>Giorno</option>
                                            <option value="1">Test</option>
                                            
                                    </select>
                                </div>

                                <div class="w3-third ">
                                        <select class="w3-select w3-margin-left" name="month">
                                                <option value="" disabled selected>Mese</option>
                                                <option value="1">Test</option>
                                                
                                        </select>
                                </div>

                                <div class="w3-third ">
                                        <select class="w3-select w3-margin-left" name="year">
                                                <option value="" disabled selected>Anno</option>
                                                <option value="1">Test</option>
                                                
                                        </select>
                                </div>
                            </div>
                    </div>
            </div>

            <div class="w3-row w3-section">
                <div class="w3-col login-icon"><i class="w3-xxlarge fa fa-pencil-square-o"></i></div>
                <div class="w3-rest">
                    <textarea class="w3-input w3-border" placeholder="Note"></textarea>
                </div>
            </div>
            <button class="w3-margin-top w3-margin-bottom w3-button w3-block w3-teal"> <i class="fa fa-cog"></i> Aggiungi appello</button>
            
        </form>

</div>