<div class="w3-row-padding w3-margin-bottom w3-margin-top">
        <form class="w3-container w3-round w3-card-4 w3-white w3-margin">
            <div class="w3-row w3-section">
                    <div class="w3-row w3-section">
                            <div class="w3-col login-icon"><i class="w3-xxlarge fa fa-file-text"></i><b>Corso</b></div>
                            <div class="w3-rest">
                                <select ng-model="courseChoice" ng-options="course.topic for course in courses" class="w3-select" name="option">
                                        <!-- Populated by database -->        
                                </select>
                            </div>
                    </div>
            </div>

            <div class="w3-row w3-section">
                    <div class="w3-row w3-section">
                            <div class="w3-col login-icon"><i class="w3-xxlarge fa fa-calendar"></i><b>Data</b></div>
                            <div class="w3-rest">
                                <div class="w3-third">
                                        <select  ng-model="day" name="day">                 
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                                <option>6</option>
                                                <option>7</option>
                                                <option>8</option>
                                                <option>9</option>
                                                <option>10</option>
                                                <option>11</option>
                                                <option>12</option>
                                                <option>13</option>
                                                <option>14</option>
                                                <option>15</option>
                                                <option>16</option>
                                                <option>17</option>
                                                <option>18</option>
                                                <option>19</option>
                                                <option>20</option>
                                                <option>21</option>
                                                <option>22</option>
                                                <option>23</option>
                                                <option>24</option>
                                                <option>25</option>
                                                <option>26</option>
                                                <option>27</option>
                                                <option>28</option>
                                                <option ng-if="month != '2' || !(year % 4)")>
                                                    29
                                                </option>
                                                <option ng-if="month != '2'">
                                                    30
                                                </option>
                                                <option ng-if="month == '1' || month == '3' || month == '5' || month == '7' || month == '8' || month == '10' || month == '12'">
                                                    31
                                                </option>
                                        </select>
                                        <select ng-model="month" name="month">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                                <option>6</option>
                                                <option>7</option>
                                                <option>8</option>
                                                <option>9</option>
                                                <option>10</option>
                                                <option>11</option>
                                                <option>12</option>
                                        </select>
                                        <select ng-model="year" name="year">
                                                <option ng-selected="true">2017</option>
                                                <option>2018</option>
                                        </select>

                                </div>

                                <div class="w3-third">
                                        
                                </div>

                                <div class="w3-third">
                                        
                                </div>
                            </div>
                    </div>
            </div>

            <div class="w3-row w3-section">
                <div class="w3-col login-icon"><i class="w3-xxlarge fa fa-pencil-square-o"></i></div>
                <div class="w3-rest">
                    <textarea ng-model="notes" class="w3-input w3-border" placeholder="Note"></textarea>
                </div>
            </div>
            <button ng-click="createExam()" class="w3-margin-top w3-margin-bottom w3-button w3-block w3-teal"> <i class="fa fa-cog"></i> Aggiungi appello</button>
            
        </form>

</div>

<div class="w3-row-padding w3-margin-bottom w3-margin-top">
        <div class="w3-container w3-round w3-card-4 w3-white w3-margin">
                <h1 class="w3-center">I tuoi appelli : </h1>

                <hr />

                <div ng-repeat="exam in exams" class="w3-container w3-round w3-card-4 w3-lime w3-margin">
                        <h1 class="w3-xxlarge"><i class="fa fa-building"></i> {{exam.examDate | date}} </h1>
                        <p class="w3-small"> <b>ID corso</b> : {{exam.course}} </p>
                        <p class="w3-tiny"> Note: {{exam.notes}} </p>
                        <hr />
                </div>
        </div>

</div>