<header class="w3-container w3-padding w3-animate-bottom">
    <div class="w3-center">
        <h1 class="w3-xxxlarge w3-animate-bottom">Benvenuto su <span class="w3-text-light-green"> &nbsp|<i class="fa fa-terminal"></i> | HEX3web</span></h1>
        <h4 class="w3-animate-bottom">La migliore piattaforma per gestire il tuo piano di studi. </h4>
    </div>
</header>

<!-- Stats about website -->

<div class="w3-row-padding w3-margin-bottom w3-margin-top">

    <div class="w3-third  w3-animate-bottom">
        <div class="w3-container w3-card-2 w3-red w3-padding-16">
            <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
            <div class="w3-right">
                <h3>1000</h3>
            </div>
            <div></div>
            <h4>&nbsp Studenti</h4>
        </div>
    </div>

    <div class="w3-third w3-animate-bottom">
        <div class="w3-container w3-blue w3-card-2 w3-padding-16 ">
            <div class="w3-left"><i class="fa fa-book w3-xxxlarge"></i></div>
            <div class="w3-right">
                <h3>25</h3>
            </div>
            <div></div>
            <h4>&nbsp Professori</h4>
        </div>
    </div>

    <div class="w3-third w3-animate-bottom">
        <div class="w3-container w3-teal w3-card-2 w3-padding-16">
            <div class="w3-left"><i class="fa fa-briefcase w3-xxxlarge"></i></div>
            <div class="w3-right">
                <h3>21</h3>
            </div>
            <div></div>
            <h4>&nbsp Stage</h4>
        </div>
    </div>

</div>

<!-- Infobox students and teachers -->

<div class="w3-row-padding w3-center w3-margin-top w3-animate-top">
    <div class="w3-half">
        <div class="w3-card-2 w3-container w3-white main-box ">
            <h3>Studente</h3>
            <i class="fa fa-book w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
            <p>Iscriviti con un click a qualsiasi esame</p>
            <p>Visualizza la tua carriera universitaria attraverso l'ausilio di semplici grafici</p>
            <p>Scegli lo stage più adatto alla tua carriera</p>
            <p>Richiedi la modifica del tuo piano di studi con un click</p>
        </div>
    </div>

    <div class="w3-half">
        <div class="w3-card-2 w3-container w3-white main-box ">
            <h3>Professore</h3>
            <i class="fa fa-university w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
            <p>Proponi stage ai tuoi studenti attraverso una comoda interfaccia</p>
            <p>Pubblica in tempo reale i risultati degli esami</p>
            <p>Creare appelli non è mai stato così facile</p>
        </div>
    </div>
</div>
