<div class="w3-row-padding w3-margin-bottom w3-margin-top w3-animate-bottom">
    <h1 class="w3-center w3-xxxlarge"> <i class="fa fa-question-circle"></i> FAQ</h1>
</div>

<div class="w3-row-padding w3-center">
    <div class="w3-row-padding w3-container w3-white w3-center w3-card-2 w3-margin-top">
        <div class="w3-animate-opacity">
            <h3>Che cos'è Hex3web?</h3>
            <p>E' una piattaforma per la gestione del piano di studi degli studenti nata con l'intento di semplificare l'interazione studente-professore.</p>
        </div>
        <hr />
        <div class="w3-animate-opacity">
            <h3>Come faccio ad iscrivermi?</h3>
            <p>Fai click su accedi, nella pagina sarà presente un tasto di colore blu con la dicitura 'registrati'.</p>
        </div>
        <hr />
        <div class="w3-animate-opacity">
            <h3>Devo pagare qualcosa?</h3>
            <p>Nessun costo, è una piattaforma gratuita e open source messa a disposizione per gli studenti ed i professori.</p>
            <p>Puoi contribuire al suo sviluppo a <a href="https://github.com/michele-biondi-unicam/Hex3Web">questa</a> pagina</p>
        </div>
    </div>
</div>