<nav id="sidebar" class="w3-sidebar w3-collapse w3-black w3-animate-left">
        <br>
        <div class="w3-container">
            <h4>Benvenuto</h4>
        </div>

        <div class="w3-bar-block">
            <a href="" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-white" onclick="w3_close()" title="close menu">
                <i class="fa fa-remove fa-fw"></i>&nbsp; Close Menu
            </a>
            <a href="" ng-click="logout()" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-user fa-fw"></i>&nbsp; Logout</a>
            <hr /> <!-- Break between logout and student buttons -->
            <a href="#!/studentcareer" class="w3-bar-item w3-button w3-padding"><i class="fa fa-area-chart fa-fw"></i>&nbsp; Carriera</a>
            <a href="#!/studentexams" class="w3-bar-item w3-button w3-padding"><i class="fa fa-copy fa-fw"></i>&nbsp; Appelli e esami</a>
            <a href="#!/studentstages" class="w3-bar-item w3-button w3-padding"><i class="fa fa-wrench fa-fw"></i>&nbsp; Stage</a>
            <hr /> <!-- Break between student and general buttons -->
            <a href="#!/faq" class="w3-bar-item w3-button w3-padding"><i class="fa fa-question-circle fa-fw"></i>&nbsp; FAQ</a>
            <a href="https://github.com/michele-biondi-unicam/Hex3Web" class="w3-bar-item w3-button"><i class="fa fa-github-alt fa-fw"></i>&nbsp; Contribuisci</a>

            <!-- Fix for a bug that doesn't display the last item of the sidebar on small screens -->
            <p class="w3-bar-item w3-padding"></p>
            <!-- End fix -->



            <div class="w3-container w3-bar-item w3-bottom w3-padding w3-hide-medium w3-hide-small">
                <a href="https://www.unicam.it"><img id="unicam-logo" src="/img/unicam-logo.png" /></a>
            </div>
        </div>

</nav>